 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    border: none;
    font-size: 20px;
    font-weight: 700px;
    padding: 12px 40px;
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
    cursor: pointer;
}
.title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.description{
    margin: 32px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.description_2{
    text-align: center;
}
section{
    min-height: 100vh;
    max-height: max-content;
}
.red_span{
   color:#E55473;
}


/* navbar start */
nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(rgba(38, 25, 115, 0.822)0%, rgba(82, 93, 115, 0.738)80%);
}
nav .logo{
    color: #fff;
    font-size: 35px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li{
    list-style: none;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 6px 24px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: .6s;
}
nav a:hover{
    border: 1px solid #fff;
}
/* navbar end */

/* header start */
.banner{
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: end;
    justify-content: space-around;
    padding: 50px 200px 0;
    gap: 120px;
}
.banner_left_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 145px;
}
.banner_title{
    color: #272727;
    font-size: 56px;
    font-weight: 800;
}

.banner_photo_container{
    display: flex;
    align-items: end;
}
.banner_photo{
    height: 600px;
  
}

/* header end */
/* decoration section start */
.decoration{
    text-align: center;
    background-color: #f7fb772c;
    padding: 120px 200px;
}
.decoration_info{
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
}
.decoration_info h1{
    line-height: 20px;
}
.decoration_containers_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.decoration_containers_right{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.decoration_container{
    width: 350px;
    height: 500px;
    box-shadow: 1px 1px 10px 1px gray;
}
.decoration_container:hover{
    box-shadow: 1px 1px 10px 10px gray;
}
.decoration_container img{
    width: 350px;
    height: 370px;
    display: flex;
    justify-content: center;
}
.decoration_container p{
    color: black;
}

/* decoration section end */
/* feature section start */
.feature{
    padding: 0 200px;
    padding-top: 110px;

}
.feature_header{
    width: 50%;
    margin: auto;
}

.feature_containers{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 30px 200px 120px 200px;
}
.feature_container{
    text-align: center;
}
.feature_img1, .feature_img2, .feature_img3 {
    width: 360px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 32px;
}
.feature_img2{
    background-color: rgba(5, 151, 160, 0.15);
    align-items: center;
}
.feature_img3{
    background-color: rgba(71, 125, 17, 0.15);
}

.feature_containers img{    
    width: 270px;
}
.tree_title{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}
.feature_footer{
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 80px 130px
}

.feature_footer_box img{
    width: 88px;
    height: 88px;
    margin-bottom: 24px;

}
.feature_footer_box p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
}

/* feature section end */
/* hot_deal section start */
.hot_deal{
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 270px;
    gap: 80px;
    text-align: center;
}
.deal_description{
    width: 60%;
}

/* hot_deal section end */
/* social section start */
.social{
    padding: 120px 200px;
}
.instagram{
    width: 50%;
    margin: auto;
    text-align: center;
}
.instagram h1{
    line-height: 10px;
}
.flowers{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flowers img{
    width: 270px;
}
.subscribe{
    background-image: url("../asset/Rectangle-9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 160px;
    text-align: center;
    margin-top: 128px;
    border-radius: 8px;
}
.subscribe h1{
    line-height: 20px;
}
.subscribe p{
    margin-bottom: 50px;
}
#input{
    width: 600px;
    height: 52px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 20px;
    margin-right: 8px;
}


/* social section end */
/* footer start */
footer{
    /* background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.9)); */
    background-color: #111010;
    text-align: center;
    color: #fff;
    padding: 120px 500px;
}
.flower_shop h1{
    color: #fff;
}
.flower_shop p{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;

}
.flower_shop .copy_right{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}

