 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    border: none;
    font-size: 20px;
    font-weight: 700px;
    padding: 12px 40px;
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
}
.title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.description{
    margin: 32px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.description_2{
    text-align: center;
}
section{
    min-height: 100vh;
    max-height: max-content;
}
.red_span{
   color:#E55473;
}

/* header start */
header{
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: end;
    justify-content: space-around;
    padding: 50px 240px 0;
    gap: 90px;
}
.banner_left_box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 145px;
}
.banner_title{
    color: #272727;
    font-size: 56px;
    font-weight: 800;
}

.banner_photo_container{
    display: flex;
    align-items: end;
}
.banner_photo{
    height: 600px;
  
}

/* header end */
/* feature section start */
.feature{
    padding-top: 170px;
}
.feature_header{
    width: 50%;
    margin: auto;
}
.feature_containers{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 30px 200px 120px 200px;
}
.feature_container{
    text-align: center;
}
.feature_img1, .feature_img2, .feature_img3 {
    width: 375px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 32px;
}
.feature_img2{
    background-color: rgba(5, 151, 160, 0.15);
    align-items: center;
}
.feature_img3{
    background-color: rgba(71, 125, 17, 0.15);
}

.feature_containers img{    
    width: 300px;
}
.tree_title{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}
.feature_footer{
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0 170px 120px 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 80px 160px
}

.feature_footer_box img{
    width: 88px;
    height: 88px;
    margin-bottom: 24px;

}
.feature_footer_box p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
}

/* feature section end */
/* hot_deal section start */
.hot_deal{
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 240px;
    gap: 150px;
    text-align: center;
}
.deal_description{
    width: 60%;
}

/* hot_section end */
/* social section start */
.social{
    padding: 120px 170px;
}
.instagram{
    width: 50%;
    margin: auto;
    text-align: center;
}
.instagram h1{
    line-height: 10px;
}
.flowers{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flowers img{
    width: 270px;
}
.subscribe{
    background-image: url("../asset/Rectangle-9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 200px;
    text-align: center;
    margin-top: 128px;
    border-radius: 8px;
}
.subscribe h1{
    line-height: 20px;
}
.subscribe p{
    margin-bottom: 50px;
}
#input{
    width: 600px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 20px;
}
